/* *{
    /* background-color: pink; */
/* }  
*/
/* .container{
    color: pink;
    background-color: red;
} */
/* .container1 h3{
    text-decoration: underline;
} */
/* .container1{
    justify-content: center;
    align-self: center;
    text-align: center;
} */
.bg-dark{
    color: red;
}